  <div style="overflow:hidden;">
    <div id="movie-list-<%= movie_list.id %>" class="movie-in-list-wrap d-flex">
      <div class="movie-in-list d-inline-flex">
        <div class="align-middle movie-in-list-eye d-inline my-auto">
          <%= link_to movie_list,
                method: :patch,
                remote: true,
                class: "tem-btn" do %>
            <%=image_tag("eye#{movie_list.seen ? '' : '_closed'}.svg",
                class: "m-auto btn",
                height: "32px") %>

          <% end %>
        </div>

        <%= link_to movie_list.movie,
            class: "align-middle movie-in-list-title d-inline-block #{movie_list.seen?}",
            style: "width:265px;",
            id: "movie-list-title",
            remote: true do %>
          <%= movie_list.movie.title %>
        <% end %>

        <div class="align-middle movie-in-list-delete d-inline-block my-auto"
             id="<%= movie_list.id %>">
          <%= image_tag("cross.svg",
                class: "d-inline-block",
                height: "16px",
                id: movie_list.id) %>

        </div>
      </div>
      <%= link_to movie_list,
            method: :delete,
            remote: true,
            class: "movie-in-list-delete-red align-middle text-danger d-inline-flex",
            style: "float:right;padding: 0 15px;" do %>
        <div class="movie-in-list my-auto">Delete</div>
      <% end %>
    </div>
  </div>
