<% provide(:title, "Your profile") %>

<%= link_to 'Create List', new_user_list_path(current_user) %>
<%= link_to 'My Lists', user_lists_path(current_user) %>
<%= link_to 'Add Movie', new_movie_path %>
<%= link_to 'All Movies', movies_path %>

<%= @user.name %>,
<% if @user == current_user || current_user.admin? %>
  <%= @user.email %>
<% else %>
  you are not allowed to see email
<% end %>

<% if @user.lists.any? %>
  <div class="position-sticky">
    <h3 >Movie Lists</h3>
  </div>
  <div class="lists row flex-row flex-nowrap">
    <%= render @lists %>
  </div>
<% end %>

<div id="movie-details-modal-holder"></div>



<div id="humongous-input-holder" style="display: none">
  <div class="humongous-input-background">
    <input type="text" placeholder="the name of the movie" autofocus class="humongous-input" id="search-query">
  </div>
</div>
