<% provide(:title, "Your profile") %>

<%= link_to 'Create List', new_user_list_path(current_user) %>
<%= link_to 'My Lists', user_lists_path(current_user) %>
<%= link_to 'Add Movie', new_movie_path %>
<%= link_to 'All Movies', movies_path %>


<%= @user.name %>,
<% if @user == current_user || current_user.admin? %>
  <%= @user.email %>
<% else %>
  you are not allowed to see email
<% end %>

<% if @user.lists.any? %>
  <div class="lists">
    <h3>Lists</h3>
    <div class="list">
      <%= render @lists %>
    </div>
  </div>
<% end %>
